.order{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    
}
.card{
    margin-left: 38%;
   
    box-shadow: 1px 1px 20px 5px #049600;
    img{
        margin-top: 5%;
        border-radius: 50%;
        
    }
}