<body>
    <div class="order">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <img src="../../assets/Order-Placed-Icon.jpg" >
              <h5 class="card-title">Order Placed</h5>
              <h6 class="card-subtitle mb-2 text-muted">To track your order you can use Order Id as {{orderid}}</h6><br>
              <!--<p class="card-text" >
                  <span class="name">
                    {{id.quantity}} x {{id.product_name}}
                  </span>
                <span class="amount">
                    {{id.total_amount | currency:'&#8377;':true}}
                </span>
                
              </p>-->
              <!--<div class="card-footer">
                  <span class="totalname">Total</span>
                  <span class="totalamount">{{totalcartamount | currency:'&#8377;':true}}</span>
              </div>-->
              <!--<a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>-->
            </div>
          </div>
    </div>
</body>
