.topline{
    margin-bottom: 5%;
    font-size: large;
    font-weight: 600;
}
.input-group{
    width: 70%;

}
.cart_img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 3%;
  
}
.cart_details{
    margin-top: 5%;
}
th{
    text-align: center;
}
.product{
    width: 7%;
}
.imgnone{
    width: 10%;
}
.quantity{
    width: 12%;
}
.price{
    width: 10%;
}
.totalamount{
   
    font-weight: bold;
    font-size: large;
}
.btn{
    background-color: #049600;
    color: white;
    font-size: large;
    font-weight: bold;
}