.heading{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 17%;
    margin-bottom: 3%;
}
.card{
    margin-top: 3%;
   
}
.name{
    font-weight: 500;
    margin-left: 5%;
}
.amount{
    float: right;
    font-weight: 500;
}
.totalname{
    font-weight: bold;
    margin-left: 3%;
}
.totalamount{
    float: right;
    font-weight: bold;
}