<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
    <a class="navbar-brand" routerLink="/home" style="margin-left: 2%;font-weight: bold;font-size: x-larger;">FoodCart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="margin-left: 3%;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/cart" style="color: black;"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
          
        </li>
        <li class="nav-item">
          <span class="badge badge-secondary" style="background-color: yellow;color: black">{{itemcount}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link login" href="#">Login</a>
        </li>
        
      </ul>
      
    </div>
  </nav>
