.nav-item{
    .login{
        float: left !important;
        margin-left: 1200px;
        color: black;
        font-weight: 600;
        font-size: large;
    }
    
}
.navbar{
    background-image: linear-gradient(to top, #06c900 ,white);
   
}