.list-group{
    width: 65%;
  
    .list-group-item{
        font-weight: 600;
    }
    .btn{
        width: 100%;
        
        text-align: left;
        font-weight: 600;
        font-size: medium; 
       
    }
    
}

.card{
    margin-top: 3%;
}